<section class="mt-5 border-top border-dark">
    <div class="container py-2 d-flex justify-content-between align-items-center">
      <p class="small mb-0">© 2023 Abdel Ghane Omar, all rights reserved</p>
  
      <ul class="list-inline mb-0">
        <li class="list-inline-item">
          <a
            href="https://www.facebook.com/profile.php?id=100026406188529"
            target="_blank"
            class="text-white"
          >
            <i class="fab fa-facebook fa-fw"></i>
          </a>
        </li>
  
        <li class="list-inline-item">
          <a
            href=""
            target="_blank"
            class="text-white"
          >
            <i class="fab fa-github fa-fw"></i>
          </a>
        </li>
      </ul>
    </div>
  </section>
  